<!-- course_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <p>Start Date: {{ course.start_date }}</p>
    <p>End Date: {{ course.end_date }}</p>
    <p>Is Published: {{ course.is_published }}</p>
    <p>Category: {{ course.category }}</p>
    <p>Prerequsities: {{ course.this_prerequisites }}</p>
    <!-- Display other fields as needed -->
</body>
</html>
