<!-- module_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ module.title }}</title>
</head>
<body>
    <h1>{{ module.title }}</h1>
    <p>{{ module.description }}</p>
    <p>Duration: {{ module.durataion }}</p>
    <p>Course: {{ module.this_course }}</p>
    <p>Labs: {{ module.this_labs }}</p>
    <p>Is Published?: {{ module.is_published }}</p>
    <p>Category: {{ module.category }}</p>
    <p>Order: {{ lab.order }}</p>
    <p>Files: {{ lab.files }}</p>
    <p>Notes: {{ lab.notes }}</p>
    <!-- Display other fields as needed -->
</body>
</html>
