<!-- program.html -->
{% load css_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecureAI</title>
</head>

    <!-- Include the css templates -->
    {% include 'csstemplate.html' %}

<body>

    <h1>Welcome to SecureAI!</h1>

    {% comment %}
        Link to the module of current workshop by using the 'order' of the module to which this workshop belongs
    {% endcomment %}
    <a href="http://127.0.0.1:8000/module/{{workshop.this_module.order}}/">Return to module</a>
    
    {% comment %}
        Access workshop's fields within database using the context dict
    {% endcomment %}

    <h2>Workshop</h2>
    <p>
      Title: {{ workshop.title }}<br/>
      Description: {{ workshop.description }}<br/>
      Lab: {{ workshop.this_lab }}<br/>
      {% for instructor in workshop.this_instructors.all %}
      Instructor: {{ instructor.name }}<br/>
      <img src="{{ instructor.picture }}" /><br/>
      {% endfor %}
      <hr/>
    </p>

    {% comment %}
        Lab is defined within context dict in workshop_detail_view
    {% endcomment %}
    <h2>Labs</h2>
    <p>
        <h3>{{ workshop.this_lab }}</h3>
        Description: {{ lab.description }}<br/>
        <hr/>
    </p>


</body>
</html>
