
<!-- module.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="text-align: center;">SecureAI</title>
</head>

    <!-- Include the css templates -->
    
<body>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <title>SecureAI: Cybersecurity Training in AI</title>
        <meta name="author" content="Mohammed Abuhamad">
        <meta name="description" content="Assistant professor of Computer Science at Loyola University Chicago">
        <link href="/static/assets/img/favicon.ico" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
              rel="stylesheet">
        <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="/static/assets/css/style.css" rel="stylesheet">

<body>
    <header id="header">
        <h4 style="position: absolute; color:white; top:2%; font-size: 2em; left: 1% "><b>SecureAI</b></h4>
        <div class="container">
            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="#header">Home</a>
                    </li>
                    <li>
                        <a href="#about">About Program</a>
                    </li>
                    <li>
                        <a href="#workshops">Workshops</a>
                    </li>
                    <li>
                        <a href="#FAQ">FAQ</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://forms.office.com/r/DFYHU5EgTM" target="_blank">Join Program</a>
                    </li>
    
                </ul>
            </nav>
        </div>
    </header>
<!--
    <main id="main">
        <section id="about" class="about">
          <div class="container">
            <div class="row no-gutters">
              
              <div class="col-lg-8 d-flex flex-column justify-content-center about-content">
                <div class="icon-box">
                    <h3> Instructors</h3>
                    {% for instructor in workshop.this_instructors.all %}
                  <h4 class="title">{{instructor.name}}</h4>
                  <p class="description"> 
                    {{instructor.description}}

                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
    -->

    {% comment %}
        Link to the module of current workshop by using the 'order' of the module to which this workshop belongs
    {% endcomment %}
    <a href="http://127.0.0.1:8000/module/{{workshop.this_module.order}}">Return to module</a>
    
    {% comment %}
        Access workshop's fields within database using the context dict
    {% endcomment %}
    <p>
        <!-- 
      Description: {{ workshop.description }}<br/>
      Lab: {{ workshop.this_lab }}<br/>
      {% for instructor in workshop.this_instructors.all %}
      Instructor: {{ instructor.name }}<br/>
      {% endfor %} 
      -->

      

    <section id="workshops" class="portfolio">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
                <h3 class="into-sub-title">{{ workshop.title }}</h3>
                <a href="http://127.0.0.1:8000/workshop/{{workshop.order}}/update_delete">Update or Delete</a>
            </div>
            </div>

            <div class="container">
                <div class="row no-gutters">
                  
                  <div class="portfolio_card">
                    <div class="portrait">
                        <h3 class="into-instructors"><b>Instructors</b></h3>
                        {% for instructor in workshop.this_instructors.all %}
                      <h4 class="title">{{instructor.name}}</h4>
                      <p class="description"> 
                        <i>{{instructor.description}}</i>
    
                        {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
                
            </div>
        </section>


            
                <div class="col-lg-6" data-aos="fade-up">

                    <div class="portfolio_card">
                        <div class="card-title">
                            <a href="http://127.0.0.1:8000/lab/{{ lab.order }}">
                            <h4>{{ lab.title }}</h4>
                            </a>
                        </div>
                        <div class="card-body">
                            <p>
                                <b style="color: #000000; font-weight: bold;">Wednesday, May 1:</b> {{ lab.description }}
                                <br>
                                <br>
                            </p>
                        </div>
                        
                    </div>
                    <p><a href="http://127.0.0.1:8000/lab/create">Create new lab</a></p>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="portfolio_card mb-4 box-shadow">
                        <div class="card-title">
                            <a href="workshop.html">
                            <h4>{{ assignment.title }}</h4>
                        </a>
                        </div>
                        <div class="card-body">
                            <p>
                                <b style="color: #000000; font-weight: bold;">Homework:</b> {{ assignment.description }}
                                <br>
                                <br>
                            </p>
                        </div>
                        
                    </div>
                </div>

    
    <footer id="footer" class="footer bg-overlay">
        <div class="footer-main">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-6 footer-widget footer-about">
                        <h3 class="widget-title">Loyola Center for Cybersecurity</h3>
                        <p>Loyola University Chicago is designated by the NSA/DHS as a Center of Academic Excellence in Cyber Defence.
                           The cybersecurity program offered by the university is recognized by the National Security Agency and the Department of Homeland Security.</p>
                        <ul style="list-style-type:none;padding-left:0">
                            <li>306
                                Doyle Center, Lake Shore Campus</li>
                            <li>1052 W Loyola Ave. Chicago, IL 60626</li>
                        </ul>
    
                    </div>
    
                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 footer-widget">
                        <h3 class="widget-title">Links</h3>
                        <ul class="list-arrow">
                            <li>
                                <a href="https://www.luc.edu/" target="_blank">Loyola University Chicago</a>
                            </li>
                            <li>
                                <a href="https://www.luc.edu/cs/index.shtml" target="_blank">Computer Science Department</a>
                            </li>
                            <li>
                                <a href="https://newsroom.cs.luc.edu/" target="_blank">Computer Science Newsroom</a>
                            </li>
                            <li>
                                <a href="https://www.luc.edu/cs/loyolacenterforcybersecurity/" target="_blank">Loyola Center
                                                                                                               for
                                                                                                               Cybersecurity</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top">
        <i class="icofont-simple-up"></i>
    </a>


    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/js/main.js"></script>

</body>
</html>
