<!DOCTYPE html>
<html>
<body>

    <h1>Welcome to SecureAI!</h1>
    <a href="http://127.0.0.1:8000/module/{{workshop.this_module.id}}/">Return to module</a>
    
    <h2>Workshop</h2>
    <p>
      Title: {{ workshop.title }}<br/>
      Description: {{ workshop.description }}<br/>
      Lab: {{ workshop.this_lab }}<br/>
      <hr/>
    </p>

    <h2>Labs</h2>


    <p>
        <h3>{{ workshop.this_lab }}</h3>
        Description: {{ lab.description }}<br/>
        <hr/>
    </p>


</body>
</html>
