{% load static %}
{% load css_tags %}
<!-- module.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="text-align: center;">SecureAI</title>
</head>

    <!-- Include the css templates -->
    {% include 'csstemplate.html' %}
<body>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <title>SecureAI: Cybersecurity Training in AI</title>
        <meta name="author" content="Mohammed Abuhamad">
        <meta name="description" content="Assistant professor of Computer Science at Loyola University Chicago">
        <link href="/static/assets/img/favicon.ico" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
              rel="stylesheet">
        <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="/static/assets/css/style.css" rel="stylesheet">

<body>
    <header id="header">
        <div class="container">
            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <h4>SecureAI</h4>
                    <li class="active">
                        <a href="#header">Home</a>
                    </li>
                    <li>
                        <a href="#about">About Program</a>
                    </li>
                    <li>
                        <a href="#workshops">Workshops</a>
                    </li>
                    <li>
                        <a href="#FAQ">FAQ</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://forms.office.com/r/DFYHU5EgTM" target="_blank">Join Program</a>
                    </li>
    
                </ul>
            </nav>
        </div>
    </header>

    {% comment %}
        Link to the module of current workshop by using the 'order' of the module to which this workshop belongs
    {% endcomment %}
    <a href="http://127.0.0.1:8000/module/{{workshop.this_module.order}}">Return to module</a>
    
    {% comment %}
        Access workshop's fields within database using the context dict
    {% endcomment %}
    <p>

    <section id="workshops" class="portfolio">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
                <h3 class="into-sub-title">{{ workshop.title }}</h3>
                <img src="{{ workshop.image|default:'/website/static/img/crest.jpg' }}"/>
                <a href="http://127.0.0.1:8000/workshop/{{workshop.order}}/update_delete">Update or Delete</a>
            </div>
            <div class="row">

    <main id="main">
        <section id="about" class="about">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-lg-4">
                <div id="profile">
                  <div class="portrait" style="background-image:url(/static/img/abuhamad-1.jpg)"></div>
                  <meta itemprop="image" content="/static/img/abuhamad-1.jpg">
                  <ul class="social-icon" aria-hidden="true">
                    <li>
                      <a itemprop="sameAs" href="mailto:mabuhamad@luc.edu" target="_blank">
                        <img src="/static/img/mail1.png" alt="" class="img-responsive" height="32px" width="32px">
                      </a>
                    </li>
                    <li>
                      <a itemprop="sameAs" href="https://scholar.google.com/citations?user=V7FWdNoAAAAJ&hl=en" target="_blank">
                        <img src="/static/img/scholar.png" alt="" class="img-responsive" height="32px" width="32px">
                      </a>
                    </li>
                    <li>
                      <a itemprop="sameAs" href="https://www.linkedin.com/in/abuhamadm/" target="_blank">
                        <img src="/static/img/linkedin.png" alt="" class="img-responsive" height="32px" width="32px">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-8 d-flex flex-column justify-content-center about-content">
                <div class="icon-box">
                    {% comment %} {% for instructor in workshop.this_instructors.all %} {% endcomment %}
                  <h4 class="title">Instructor: {{instructor.name}}</h4>
                    {% comment %} {% endfor %} {% endcomment %}
                  <p class="description">I am an assistant professor of Computer Science at <a href="https://www.luc.edu/" target="_blank">
                      <u>Loyola University Chicago</u>
                    </a>. I received a Ph.D. degree in Computer Science from the <a href="https://www.ucf.edu/" target="_blank">
                      <u>University of Central Florida</u>
                    </a>(UCF) in 2020. I also received a Ph.D. degree in Electrical and Computer Engineering from <a href="http://inha.ac.kr/" target="_blank">
                      <u>INHA University</u>
                    </a>, (Incheon, Republic of Korea) in 2020. I received a Master degree in Information Technology (Artificial Intelligence) from the <a href="https://www.ukm.my/" target="_blank">
                      <u>National University of Malaysia</u>
                    </a>, (Bangi, Malaysia) in 2013. </p>
                  <p class="description">I am interested in AI/Deep-Learning-based Information Security, especially Software and Mobile/IoT Security. I am also interested in Machine Learning-based Applications and Adversarial Machine Learning. I have published several peer-reviewed research papers in top-tier conferences and journals such as ACM CCS, PoPETS, IEEE ICDCS, and IEEE IoT-J.</p>
                  <p class="description">
                    <strong>Research Lab:</strong>
                    <u>Cybersecurity lab</u> and AI for Secure Computing Research Lab ( <u>AISeC</u>). <br>
                    <strong>Teaching (Spring 2024):</strong>
                    <u>COMP 487:</u> Deep Learning and <u>COMP 458:</u> Big Data Analytics. <br>
                    <strong>Office Hours:</strong> Fridays 09:00 - 11:00 AM and Mondays 03:00 - 05:00 PM. <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>




                <div class="col-lg-6" data-aos="fade-up">

                    <div class="portfolio_card">
                        <div class="card-title">
                            <a href="http://127.0.0.1:8000/lab/{{ lab.order }}">
                            <h4>{{ lab.title }}</h4>
                            </a>
                        </div>
                        <div class="card-body">
                            <p>
                                <b style="color: #000000; font-weight: bold;">Wednesday, May 1:</b> {{ lab.description }}
                                <br>
                                <br>
                            </p>
                        </div>
                        
                    </div>
                    <p><a href="http://127.0.0.1:8000/lab/create">Create new lab</a></p>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="portfolio_card mb-4 box-shadow">
                        <div class="card-title">
                            <a href="workshop.html">
                            <h4>{{ assignment.title }}</h4>
                        </a>
                        </div>
                        <div class="card-body">
                            <p>
                                <b style="color: #000000; font-weight: bold;">Homework:</b> {{ assignment.description }}
                                <br>
                                <br>
                            </p>
                        </div>
                        
                    </div>
                </div>


    </section>
    
    <footer id="footer" class="footer bg-overlay">
        <div class="footer-main">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-6 col-md-6 footer-widget footer-about">
                        <h3 class="widget-title">Loyola Center for Cybersecurity</h3>
                        <p>Loyola University Chicago is designated by the NSA/DHS as a Center of Academic Excellence in Cyber Defence.
                           The cybersecurity program offered by the university is recognized by the National Security Agency and the Department of Homeland Security.</p>
                        <ul style="list-style-type:none;padding-left:0">
                            <li>306
                                Doyle Center, Lake Shore Campus</li>
                            <li>1052 W Loyola Ave. Chicago, IL 60626</li>
                        </ul>
    
                    </div>
    
                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 footer-widget">
                        <h3 class="widget-title">Links</h3>
                        <ul class="list-arrow">
                            <li>
                                <a href="https://www.luc.edu/" target="_blank">Loyola University Chicago</a>
                            </li>
                            <li>
                                <a href="https://www.luc.edu/cs/index.shtml" target="_blank">Computer Science Department</a>
                            </li>
                            <li>
                                <a href="https://newsroom.cs.luc.edu/" target="_blank">Computer Science Newsroom</a>
                            </li>
                            <li>
                                <a href="https://www.luc.edu/cs/loyolacenterforcybersecurity/" target="_blank">Loyola Center
                                                                                                               for
                                                                                                               Cybersecurity</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top">
        <i class="icofont-simple-up"></i>
    </a>


    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/js/main.js"></script>

</body>
</html>
